<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;500;600;700&display=swap" rel="stylesheet">
  <link rel="icon" href="img/favicon.ico" type="image/x-icon"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <title>BOOLFLIX</title>
</head>
<body>
  <div id="root">
    <div class="container">
        <header>
          <div class="logo">
            <img class="logo" src="https://fontmeme.com/permalink/210409/0a43aa36584f2895324a0006b42b5d1a.png" alt="boolflix-font">
          </div>
          <label for="">
            <p class="p_input">scegliere il film</p>
              <input type="text" name="" v-model="searchFilm" placeholder="Cerca un film" @keydown.13 ="apiSearch">
              <i @click="apiSearch" class=" search fas fa-search"></i>
          </label>
        </header>
        <main>

          <div class="card"  v-for="(film,index) in films" v-show="film.poster_path != null">
            <div class="img_container">
              <img class="img_card"  :src=" 'https://image.tmdb.org/t/p/original' + film.poster_path" alt="poster">
            </div>
            <div class="content">
              <h2>TITOLO: <span>{{film.title || film.name}}</span></h2>
              <p class="p_content">TITOLO ORIGINALE: <span>{{film.original_title|| film.original_name}}</span> </p>
              <p v-if=" film.original_language == 'en'? film.original_language = 'gb' : film.original_language == 'ja'? film.original_language = 'jp' : film.original_language" class="p_content">LINGUA:
              <img class="lang_img" :src="'https://www.countryflags.io/' + film.original_language + '/flat/32.png'" :alt="film.original_language"></p>
              <p class="p_content">VOTO:
              <span><i v-for="index in film.vote_average" class="fas fa-star vote-star"></i>
              </span>
              <span v-if="film.vote_average"><i v-for="index in ( 5 - film.vote_average)" class="far fa-star vote-star"></i></span>
              </p>
              <p class="p_content" v-if="film.overview != ''">TRAMA: <span>{{film.overview}}</span> </p>
            </div>
          </div>

        </main>
  </div>
</div>
  <script src="script/script.js" charset="utf-8"></script>


</body>
</html>
